<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gabriel Santana Cruz - 201500258956">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ItaCeramica - Detalhe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        /* Facilitar no redimensionamento da imagem */
        
        .container img {
            max-width: 500px;
            max-height: 500px;
            width: auto;
            height: auto;
        }
    </style>
</head>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <!-- Imagem -->
                    <div class="col-xl-5">
                        <div class="tab-content pt-0">
                            <div class="tab-pane active show" id="Caneca Guitarra">
                                <img src="../Shared/Imagens/caneca_lua.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                        </div>

                    </div>


                    <!-- DESCRIÇÃO -->
                    <div class="col-xl-7">
                        <div class="pl-xl-3 mt-3 mt-xl-0">
                            <h4 class="mb-3">Caneca Guitarra</h4>
                            <h6 class="text-danger text-uppercase">20% desconto!!</h6>
                            <h4 class="mb-4">Preço: <span class="text-muted mr-2"><del>R$80</del></span> por <b>R$64</b></h4>
                            <h4><span class="badge badge-success mb-4">Em estoque</span></h4>
                            <p class="text-muted mb-4">Feito com uma mistura especial de marmore e cerâmica, essa caneca é otima para amantes da Lua.</p>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>Material: Cerâmica</p>
                                        <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>Tamanho: Diâmetro 7.5cm x 10.5cm</p>
                                        <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>Peso: Cerca de 230g</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i>Capacidade: 250ml</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" onclick="alert('Esperando a atividade para desenvolver o backend!!')" class="btn btn-success waves-effect waves-light">Comprar</button>
                                <button type="button" onclick="window.location.href='index.html'" class="btn btn-danger">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>