<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gabriel Santana Cruz - 201500258956">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ItaCeramica - Contato</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formulario Contato</li>
            </ol>
        </nav>

        <form class="form-group row" id="formulario" action="mailto:gabriel@hotmail.com?Subject=olha%20ela%22">
            <div class="col-md">
                <div class="col-sm">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome">
                </div>
                <div class="col-sm">
                    <label for="sobrenome">Telefone</label>
                    <input type="text" class="form-control" id="telefone">
                </div>
                <div class="col-sm mt-2 mb-2">
                    <label for="sobrenome">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="col-sm mt-2 mb-2">
                    <label for="assunto">Assunto</label>
                    <input type="text" class="form-control" id="assunto">
                </div>
                <div class="col-sm">
                    <label for="area">Comentarios</label>
                    <textarea name="area" class="form-control" id="area" cols="30" rows="5"></textarea>
                </div>
                <button class="btn btn-success mt-1 float-right" id="enviar">Enviar</button>
            </div>
        </form>

        <script>
            let nome = document.getElementById('nome');
            let telefone = document.getElementById('telefone');
            let email = document.getElementById('email');
            let coment = document.getElementById('area');
            let assunto = document.getElementById('assunto');

            let form = document.getElementById('formulario');
            let btn = document.getElementById('enviar');


            let a = assunto.value.replace(/ /g, '%20');
            let x = "mailto:" + email.value + "?Subject=" + a + "&body=" + coment.value;

            function submeter() {
                form.submit();
            };
        </script>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>