<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gabriel Santana Cruz - 201500258956">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ItaCeramica</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        /* Manter o padrão da imagem */
        
        .container img {
            max-width: 300px;
            max-height: 300px;
            width: auto;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
                <li class="breadcrumb-item"><a href="email_form.html">Formulario Contato</a></li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="../Shared/Imagens/caneca.jpg" alt="Caneca Guitarra" class="img-thumbnail">
                <h2>Caneca Guitarra</h2>
                <p>Caneca feita em cerâmica para você que curte guitarras e música!!</p>
                <p><a class="btn btn-secondary" href="detalhes_produto_caneca_guitarra.html" role="button">Detalhes &raquo;</a></p>
            </div>

            <div class="col-lg-4 text-center">
                <img src="../Shared/Imagens/vaso_chines.jpg" alt="Vaso Chines" class="img-thumbnail">
                <h2>Vaso Chines</h2>
                <p>Vaso Chines para a decoração de comodos e espaços em geral.</p>
                <p><a class="btn btn-secondary" href="detalhes_produto_vaso_chines.html" role="button">Detalhes &raquo;</a></p>
            </div>

            <div class="col-lg-4 text-center">
                <img src="../Shared/Imagens/caneca_lua.jpg" alt="Caneca Lua" class="img-thumbnail">
                <h2>Caneca Lua</h2>
                <p>Feito com uma mistura especial de marmore e cerâmica, essa caneca é otima para amantes da Lua.</p>
                <p><a class="btn btn-secondary" href="detalhes_produto_caneca_lua.html" role="button">Detalhes &raquo;</a></p>
            </div>
        </div>

        <footer class="mt-3">
            <p>&copy; 2019 ItaCeramica, TDI.<a href="#" class="float-right">Privacidade</a> <a href="#" class="float-right mr-2">Termos de uso</a></p>
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>